#esquerda{
    margin: 5px;
    float: left;
}
#direita{
    margin: 5px;
    float: right;
}
form{
    color: #ffffff;
    background-color: darkslategrey;
    width: 40%;
    height: 320px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    font-size: 1.6em;
}

textarea{
    margin-top: 2%;
    margin-left: 2%;
}
#email{
    width: 280%;
}

button{
    margin-left: 1.2%;
    width: 50%;
    border-radius: 10px;
}